/viikko1/14-16/.gradle/
/viikko1/14-16/build/
/viikko1/14-16/RiippuvuuksienInjektointi1/build/
/viikko2/1/.gradle/
/viikko2/1/build/
/viikko2/.gradle/
/viikko4/1/build/
/viikko4/2/build/
/viikko4/5/build/
/viikko6/2-5/build/
/viikko7/KiviPaperiSakset/build/